@tailwind base;
@tailwind components;
@tailwind utilities;

@layer basee {
     * {
          margin: 0;
          padding: 0;
          box-sizing: border-box;
     }

     body {
          @apply bg-slate-100 min-h-screen
     }
}